<form [formGroup]="form" (ngSubmit)="submit()" class="dynamic-form">
  <ng-container *ngFor="let sec of sections">
    <h3>{{ sec.title }}</h3>
    <ng-container *ngFor="let q of sec.fields">
      <app-dynamic-form-question
        *ngIf="isVisible(q)"
        [question]="q"
        [form]="form"
      ></app-dynamic-form-question>
    </ng-container>
  </ng-container>
  <button [disabled]="form.invalid">Submit</button>
</form>
<pre *ngIf="submitted">
  {{ { answers: submitted } | json }}
</pre>
